@{
    ViewData["Title"] = "Home Page";
}


@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="main-container">
    <div class="profile">
        <img class="profile-image" src="~/images/profile.jpg" />
        <label>Họ và tên: Bùi Minh Quân</label>
        <label>MSSV: 1712687</label>
        <label>Email: buiminhquan.hcmus@gmail.com</label>
        <label>SĐT: 0772770170</label>
    </div>
    <div>
        <h3>Môn Phát triển ứng dụng Hệ thống thông tin hiện đại</h3>
        <h4>Mô tả bài tập thực hành Lab#1</h4><br />
        <p>Sinh viên hãy thực hiện lại bài hướng dẫn trên để hiểu cách hoạt động hệ thống, hiểu cách áp dụng mô hình MVC trong ASP.NET.</p>
        <p>Yêu cầu: Sinh viên xây dựng một trang web đơn giản để tính toán việc chuyển đổi tiền tệ từ $ sang VNĐ.</p>
        <p>Hai tham số cần cung cấp là số tiền cần đổi, tỉ giá $, kết quả trả về tiền VNĐ.</p>
        <a href="https://github.com/mq149/CurrencyConverter" target="_blank" rel="noopener noreferrer">Link GitHub của bài tập</a><br /><br />
        
        <h4>Kết quả</h4>
        <p>Vui lòng chọn mục Convert ở Menu để sử dụng chức năng quy đổi tiền tệ.</p>
    </div>
</div>