body {
    padding: 50px;
}

div.form-container {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    align-items: center;
}

div.input-container {
    display:flex;
    flex-flow: column nowrap;
    width: 100%;
}

div.form-container > * {
    margin: 8px;
}

form#converter {
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
}

form#converter > * {
    margin: 8px;
}

input[type=text] {
    height: 35px;
    text-align: center;
    border: hidden;
    border-bottom: 1px solid black;
}

input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid #11A2FF;
}

.button {
    width: 120px;
    height: 35px;
    border-radius: 17.5px;
    border: hidden;
    background-color: #11A2FF;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.button:hover {
    background-color: #1092FF;
}

.button:active {
    background-color: #0F89D7;
}


