
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Currency Converter</title>
    <link rel="stylesheet" href="~/css/converter.css"/>
</head>
<body>
    <div class="form-container">
        <form id="converter" method="get" action="/converter/convert">
            <div class="input-container">
                <label>Amount (USD):</label>
                <input type="text" name="amount" id="amount" placeholder="1" />
            </div>
            <div class="input-container">
                <label>Exchange rate:</label>
                <input type="text" name="exchangeRate" id="exchange-rate" placeholder="22760.50" />
            </div>
            <input type="submit" value="Convert" class="button">
        </form>
        <button id="convert" class="button">AJAX Convert</button>
        <label class="result">
            @if(Model != null)
            {
                @Model.resultString
            }
        </label>
    </div>

    @section Scripts {
        <script type="text/javascript" src="~/js/converter.js"></script>
    }
</body>
</html>
